.image-ratio{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

.main-item{

    &__text{
        padding: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__principal-title{
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        text-align: start;
    }
    
    &__tags, &__chip{
        text-align: start;
    }
}

.css-gavykb-MuiChip-root {
    width: 17% !important;
}
